<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <span>♠</span><span>♦</span><span>♣</span><span>♥</span>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Восстанавливаем связь со столом…
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Не вышло… следующая попытка через <span id="components-seconds-to-next-attempt"></span> с.
        </p>
        <p class="components-reconnect-failed-visible">
            Подключиться не удалось.<br />Попробуйте ещё раз или обновите страницу.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Повторить
        </button>
        <p class="components-pause-visible">
            Сервер приостановил партию.
        </p>
        <p class="components-resume-failed-visible">
            Не удалось продолжить партию.<br />Попробуйте ещё раз или обновите страницу.
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            Продолжить
        </button>
    </div>
</dialog>
